{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    {% if unfilled %}
        <div class="alert alert-warning" id="unfilledalert" role="alert">
            Make sure all fields are filled to register.
        </div>
    {% endif %}
    <div class="container" id="logincontainer">
        <div class="row justify-content-center">
            <div class="col-md align-self-center">
                <form action="" method="POST">
                    <div class="form-group">
                        <label for="firstnamefield">First Name</label>
                        <input type="text" class="form-control" id="firstnamefield" name="firstname" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastnamefield">First Name</label>
                        <input type="text" class="form-control" id="lastnamefield" name="lastname" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="usernamefield">Username</label>
                        <input type="text" class="form-control" id="usernamefield" name="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="button registerbutton">Register</button>
                </form>
            </div>
            <div class="col-sm offset-md-3 align-self-center">
                <div class="newtosite">
                    <h5>Already have an Account?</h3><br>
                    <a class="button tologinbutton" href="{{ url_for('login') }}" role="button">Login</a>
                </div>
            </div>
        </div>
    </div>    





{% endblock %}