{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm searchbox">  
            <form action="" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="isbnfield" name="isbn" placeholder="ISBN">
                </div>
                <button type="submit" class="button loginbutton">Search By ISBN</button>
            </form>
        </div>
        <div class="col-sm searchbox">
            <form action="" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="titlefield" name="title" placeholder="Title">
                </div>
                <button type="submit" class="button loginbutton">Search By Title</button>
            </form>
        </div>
        <div class="col-sm searchbox">
            <form action="" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" id="authorfield" name="author" placeholder="Author">
                </div>
                <button type="submit" class="button loginbutton">Search By Author</button>
            </form>
        </div>
    </div>
  </div>

  <div class="container">
        {% if results %}
            <div class="row categoryrow">
            <div class="col categorycol">
                Title
            </div>
            <div class="col categorycol">
                Author 
            </div>
            <div class="col categorycol">
                ISBN
            </div>
            </div>
        {% endif %}

      {% for book in books %}
        <div class="row resultrow">
            <div class="col resultcol">
                {{ book.title }}
            </div>
            <div class="col resultcol">
                {{ book.author }}
            </div>
            <div class="col resultcol">
                {{ book.isbn }}
            </div>
        </div>
    {% endfor %}
  </div>



{% endblock %}