@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

//color pallete
//https://colorsinspo.com

$color5: #db7917;
$color4: #e2f3f5;
$color3: #15b2ce;
$color2: #3d5af1;
$color6: #40514e;
$color1: #0e153a;



body{
    font-family: 'B612', sans-serif;
    color: $color1;
    background-color: $color4;
}

.bg-primary{
    background-color: $color2 !important;
    color: white;
}

.button{
    background-color: $color5 !important;
    border-radius: 4px;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.toregisterbutton, .tologinbutton{
    color: black;
}

.toregisterbutton:hover, .tologinbutton:hover{
    border: 2px solid $color6 !important;
    color: black;
    text-underline-position: none;
    text-decoration: none;
}

.newtosite{
    .my-4{
        background-color: $color5;
        border: 1px solid $color5;
    }
}

#incorrectlogin{
    background-color:#d8473d;
    color: white;
}

#userexistsalert{
    background-color:#3aaa52;
    color: white;
}



#logincontainer{
    padding-top: 30px;
}